<div class="main container-fluid">
  <button type="button" class="btn btn-outline-light">Join Us</button>
  <div class="logoBlock">
    <img src="../../assets/images/logo/Logo/Logos/White/White_png.png" alt="alternative name" class="mainImage image-fluid">
    <ul>
      <li>
        <a href="#" class="cool-link">Home</a>
      </li>
      <li>
        <a href="#" class="cool-link">Aount</a>
      </li>
      <li>
        <a href="#" class="cool-link">Products</a>
      </li>
      <li>
        <a href="#" class="cool-link">Contats</a>
      </li>
    </ul>
  </div>
</div>
